<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Início</a>
        <a href="/solicitacoes">Listar Solicitações</a>
        <a href="/adicionar_solicitacao">Adicionar Solicitação</a>
    </div>

    <div class="container">
        <h2>Sistema de Transporte Hospitalar - Hospital Geral Clériston Andrade</h2>
        <p>Aqui você pode gerenciar as solicitações de transporte.</p>
    </div>
</body>
</html>
